.numPad {
	border:solid 2px black;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

.numPad input[type="button"], .numPad input[type="submit"], .numPad .button {
	font-size:20pt;
	width:100px;
	margin:3px;
	height:100px;
	color:white;
	background:black;
	text-align:center;
	border:solid 2px gray;
}

.numPad .clear_button {
	background:maroon !important;
	padding:none;
}

.numPad .submit_button {
	background:green !important;
	float:none;
		padding:none;
}