.message {
    border-width:3px;
    border-style:solid;
    padding:10px;
    
    padding-left: 78px;
    min-height: 48px;
    
    margin-bottom:10px;
}

.success { background: #DDFFDD; }
.info { background: #DDDDFF; }
.error { background: #FFDDDD; }
.warning { background: #FFFFDD; }

.message_title {
    font-size:12pt;
    font-weight:bold;
    border-bottom:solid 1px black;
    margin-bottom:5px;
}
.message_text {
    
}