/****************************************************/
/*              Basic Text and Parents              */
/****************************************************/
* {
    font-size       : 10pt;
    font-family     : Verdana, Arial, sans-serif;
}
html, body {
    background      : white;
    color           : black;
}


/****************************************************
 * Custom styles for standard HTML controls
 ****************************************************/
hr { 
	border-style	: ridge; 
	border-width	: 1px; 
}

a,a:visited {
    color			: [PrimaryDark];
    text-decoration	: none;
}

a:hover {
    color			: [SecondaryDark];
    text-decoration : underline;
}

pre {
    font-family		: Courier New,Courier,sans-serif;
    background		: [SecondaryLight];
    padding			: 10px;
    border			: [SecondaryBorder];
}

textarea {
    border          : [SecondaryBorder];
    background      : #B5BFF2;
}

fieldset {
    border          : [SecondaryBorder];
    padding         : [SecondaryPadding];
}
legend {
    color           : [SecondaryTextColor];
    min-width       : 150px;
    border          : [SecondaryBorder];
}

ul li {
    list-style-image:url(<list_square.png>);              /* NOTICE: wisp Path */
}

dl dt {
    font-weight     : bold;
    border-bottom   : solid 1px #bbbbbb;
    margin-top      : 8px;
    margin-left     : 5px;
}
dl dd {
    border-left     : solid 1px #bbbbbb;
    margin-left     : 5px;
}

/****************************************************/
/*                   Headers                        */
/****************************************************/
h1,h2,h3 {
    color:#444F82;
    border-bottom:solid 1px #777777;
}
h1, h1 * { font-size:20pt; }
h2, h2 * { font-size:16pt; }
h3, h3 * { font-size:14pt; }
h4, h4 * { font-size:12pt; }
h5, h5 * { font-size:10pt; }
h6, h6 * { font-size:8pt; }
h7, h7 * { font-size:5pt; }



/****************************************************/
/*              Buttons and Textfields              */
/****************************************************/

input[type="text"], 
input[type="password"] {
    background      : [SecondaryLight];
    border          : [SecondaryBorder];
    margin          : 2px;
}
button,input[type="button"],input[type='submit'],input[type='reset'] {
    border          : [SecondaryBorder];
    background      : [SecondaryDark];
    color           : white;
}
input[type='submit'],input[type='reset'] {
    border			: [SecondaryBorder];
    color			: white;
    padding-right	: [PrimaryPadding];
}
input[type="reset"] {
    float			: left;
    padding-right	: 8px;
    padding-left	: 25px;
    background		: [PrimaryDark] url(<reset_bgimage.png>) no-repeat left;
}
input[type="submit"] {
    float			: right;
    background		: [PrimaryDark] url(<submit_bgimage.png>) no-repeat right;
}
input[readonly="true"] {
    background      : #333333; 
    color           : white;
}


/****************************************************/
/*                Layout Panel Classes              */
/****************************************************/
div#header {
    background      : [SecondaryDark];
    width           : 90%;
    color           : white;
    font-size       : 18pt;
    border          : [PrimaryBorder];
    border-top      : none;
}

div.contentblock {
    margin-top      : 10px;
    padding         : 10px;
    border          : [PrimaryBorder];
    background      : white;
    text-align      : left;
}


/******************************************************
 * PRINT STYLES:
 * this part of the stylesheet defines special options for making pages prettier when printed
 ******************************************************/
 
@media print {
    .noprint {
        display     : none;
    }
}